header {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px;
  color: rgb(220, 214, 214);
  background-color: #171717;
  width: 100vw;
  font-size: 50px;
}

.logo h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1;
}

header .task-to-complete {
  padding: 2rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.9;
  grid-row: 1;
  grid-column: 3/3;
}
